<div class="grid__item product__media-wrapper">
  <media-gallery id="MediaGallery-{{ section.id }}" role="region" {% if section.settings.enable_sticky_info %}class="product__media-gallery"{% endif %} aria-label="{{ 'products.product.media.gallery_viewer' | t }}" data-desktop-layout="{{ section.settings.gallery_layout }}">
          
    <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
    {{'component-custom-slider.scss.css' | asset_url | stylesheet_tag }}
    <custom-slider-component id="GalleryViewer-{{ section.id }}" class="slider-mobile-gutter">
      <a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-{{ section.id }}">
        {{ "accessibility.skip_to_product_info" | t }}
      </a>
      <ul class="custom-slide" role="list">
        {%- liquid
          assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
          assign media_count = product.media.size
          if section.settings.hide_variants and media_count > 1
            comment 
              assign media_count = media_count | minus: variant_images.size | plus: 1
            endcomment 
            assign media_count = media_count | minus: variant_images.size
          endif
  
          if section.settings.media_size == 'large'
            assign media_width = 0.65
          elsif section.settings.media_size == 'medium'
            assign media_width = 0.55
          elsif section.settings.media_size == 'small'
            assign media_width = 0.45
          endif
  
          assign featured_media = product.selected_or_first_available_variant.featured_media
          assign featured_media = product.media[1]
  
        -%}
        {%- if featured_media != null -%}
          <li id="Slide-{{ section.id }}-{{ featured_media.id }}" class="product__media-item slider__slide is-active{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains featured_media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
            {%- assign media_position = 1 -%}
            {% render 'product-thumbnail', media: featured_media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: false %}
          </li>
        {%- endif -%}
        {%- for media in product.media offset: 1 -%}
          {%- unless media.id == featured_media.id -%}
            {% liquid
              assign mediaSize = product.media.size
              assign show = true 
              if forloop.last == true and forloop.first != true 
                assign show = false 
              endif 
            %}
            {% if show == true %}
              <li id="Slide-{{ section.id }}-{{ media.id }}" class="product__media-item slider__slide{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {%- liquid
                  assign media_position = media_position | default: 0 | plus: 1
                  assign lazy_load = false
                  if media_position > 1
                    assign lazy_load = false
                  endif
                  render 'product-thumbnail', media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: lazy_load
                -%}
              </li>
            {% endif %}
          {%- endunless -%}
        {%- endfor -%}
      </ul>
      <div class="slider-buttons no-js-hidden quick-add-hidden{% if media_count < 2 or section.settings.mobile_thumbnails == 'show' %} small-hide{% endif %}">
       
      </div>
    </custom-slider-component>
  
    {%- if first_3d_model -%}
      <button
        class="button button--full-width product__xr-button"
        type="button"
        aria-label="{{ 'products.product.xr_button_label' | t }}"
        data-shopify-xr
        data-shopify-model3d-id="{{ first_3d_model.id }}"
        data-shopify-title="{{ product.title | escape }}"
        data-shopify-xr-hidden
      >
        {% render 'icon-3d-model' %}
        {{ 'products.product.xr_button' | t }}
      </button>
    {%- endif -%}
  </media-gallery> 
</div>
