<style>
    .mobile-zoom-popup {
        display: none;
    }

    @media (max-width: 989px) {
        .mobile-zoom-popup {
            display: flex;
            position: fixed;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background-color: white;
            z-index: 10000;
        }

        .mobile-zoom-popup.hidden {
            display: none !important;
        }

        .pdp-mobile-zoom-popup--slider-content {
            align-items: center;
        }

        .mobile-zoom-popup .pdp-mobile-zoom-popup {
            position: relative;
            height: 100%;
            width: 100%;
        }

        .mobile-zoom-popup .pdp-mobile-zoom-popup--close {
            position: absolute;
            background: rgb(101 101 99 / 40%);
            display: flex;
            padding: 8px;
            border-radius: 50%;
            top: 15px;
            right: 15px;
            z-index: 100001;
        }

        .mobile-zoom-popup .pdp-mobile-zoom-popup--close svg {
            stroke: white;
        }

        .mobile-zoom-popup .swiper-button-prev-zoom,
        .mobile-zoom-popup .swiper-button-next-zoom {
            display: flex !important;
            background-color: rgb(101 101 99 / 40%);
            height: 40px;
            width: 40px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            z-index: 100002;
        }

        .mobile-zoom-popup .swiper-button-next-zoom {
            padding-left: 3px;
            right: 10px;
        }

        .mobile-zoom-popup .swiper-button-prev-zoom {
            padding-right: 5px;
            left: 10px;
        }

        .mobile-zoom-popup .swiper-button-prev-zoom:after,
        .mobile-zoom-popup .swiper-button-next-zoom:after {
            font-size: 18px;
            color: white;
            font-weight: 600;
            margin-left: 3px;
        }

        .mobile-zoom-popup .swiper-button-prev-zoom svg,
        .mobile-zoom-popup .swiper-button-next-zoom svg {
            height: 37px;
            width: 37px;
            font-size: 24px;
            fill: white;
        }

        .mobile-zoom-popup .swiper-zoom-container img {
            max-height: 550px;
        }

        
        /* Target the parent div ONLY if it contains an image from the /products/ folder */
        .pdp-mobile-zoom-popup--slider-item:has(img[src*="/products/"]) {
            display: none !important;
        }

        .pdp-mobile-zoom-popup--slider-item.is-video {
            display: none !important;
        }
    }
</style>

<div class="pdp-mobile-zoom-popup Zoomswiper">
    <span class="pdp-mobile-zoom-popup--close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18"/>
            <line x1="6" y1="6" x2="18" y2="18"/>
        </svg>
    </span>
    <div class="pdp-mobile-zoom-popup--slider-content swiper-wrapper">
        {%- assign first_image_id = nil -%}
        {%- assign last_image_id = nil -%}
        {%- for product_image in product.media -%}
            {%- if product_image.media_type == 'image' -%}
                {%- if first_image_id == nil -%}
                    {%- assign first_image_id = product_image.id -%}
                {%- endif -%}
                {%- assign last_image_id = product_image.id -%}
            {%- endif -%}
        {%- endfor -%}

        {%- for product_image in product.media -%}
            {%- unless product_image.id == first_image_id or product_image.id == last_image_id -%}
                <div class="pdp-mobile-zoom-popup--slider-item swiper-slide {% if product_image.media_type == 'video' or product_image.media_type == 'external_video' %}is-video{% endif %}">
                    <div class="swiper-zoom-container">
                        <img
                            srcset="{% if product_image.preview_image.width >= 288 %}{{ product_image.preview_image | image_url: width: 288 }} 288w,{% endif %}
                                    {% if product_image.preview_image.width >= 576 %}{{ product_image.preview_image | image_url: width: 576 }} 576w,{% endif %}
                                    {% if product_image.preview_image.width >= 550 %}{{ product_image.preview_image | image_url: width: 550 }} 550w,{% endif %}
                                    {% if product_image.preview_image.width >= 1100 %}{{ product_image.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
                                    {{ product_image.preview_image | image_url }} {{ product_image.preview_image.width }}w"
                            src="{{ product_image | image_url: width: 550, height: 550 }}"
                            sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                            loading="lazy"
                            width="576"
                            height="{{ 576 | divided_by: product_image.preview_image.aspect_ratio }}"
                            alt="{{ product_image.preview_image.alt | escape }}"
                        >
                    </div>
                </div>
            {%- endunless -%}
        {%- endfor -%}
    </div>
    {%- assign number_of_images = product.media.size |  minus: 2 -%}
    {%- if number_of_images > 1 -%}
        <div class="swiper-button-prev-zoom">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                <path d="M14.71 6.71a1 1 0 00-1.42 0L8 12l5.29 5.29a1 1 0 001.42-1.42L10.83 12l3.88-3.88a1 1 0 000-1.41z"/>
            </svg>
        </div>
        <div class="swiper-button-next-zoom">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                <path d="M9.29 6.71a1 1 0 011.42 0L16 12l-5.29 5.29a1 1 0 01-1.42-1.42L13.17 12l-3.88-3.88a1 1 0 010-1.41z"/>
            </svg>
        </div>
    {%- endif -%}
</div>

<script>
    document.addEventListener("DOMContentLoaded", ()=>{
        const swiper = new Swiper('.Zoomswiper', {
            zoom: {
                maxRatio: 2,
                minRatio: 1,
            },
            navigation: {
                nextEl: '.swiper-button-next-zoom',
                prevEl: '.swiper-button-prev-zoom',
            },
            loop: true,
            slidesPerView: 1,
        });

        document.querySelector(".pdp-mobile-zoom-popup--close").addEventListener("click", ()=>{
            document.querySelector('.mobile-zoom-popup').classList.add('hidden')
            document.body.style.overflow = ''
        })
    })
</script>

{% schema %}
{
  "name": "Mobile zoom popup",
  "tag": "section",
  "class": "mobile-zoom-popup hidden",
  "limit": 1,
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Mobile zoom popup",
      "settings": {}
    }
  ]
}
{% endschema %}
